#new-aircraft{:style => "display: none; width: 600px; text-align: center"}
  
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} New Aircraft
  %form.newaircraftform{:style => "margin-right: 150px; text-align: right; font-size: 16px"}
    %p.bold
      %label Name
      %input{:type => "text", :size => "30", :name => "name", :style => "margin-left: 20px"}
    %p
      %label Flight Prefix
      %input{:type => "text", :size => "30", :name => "flight_prefix", :style => "margin-left: 20px"}
    %br
    %p
      %label Model
      %select{:style => "width: 177px; margin-left: 20px", :name => "type"}
        %option{:value => "Cessna 182"} Cessna 182
        %option{:value => "Twin Otter"} Twin Otter
        %option{:value => "Other"} Other
    %br
    %p
      %label Cycle Minutes
      %input{:type => "text", :size => "30", :name => "cycle_minutes", :style => "margin-left: 20px"}
    %p
      %label Capacity
      %input{:type => "text", :size => "30", :name => "capacity", :style => "margin-left: 20px"}
    %p
      %label Weight Limit
      %input{:type => "text", :size => "30", :name => "weight_limit", :style => "margin-left: 20px"}
    %br
    %div
      .checkcontainer{:onClick => "toggleAircraft(); return false;", :style => 'margin-right: 78px; position: relative'}
        .cover{:style => "display: block; position: absolute; margin: 0; width: 110px; height: 30px; opacity: 0;"}
        %input.aircraftavailable{:type => "checkbox", :style => "margin-right: 10px;", :name => "available", :checked => "checked"}
        %label{:style => "font-weight: bold;"} Available
    %br
    .left{:style => "display: inline; margin-right: 12px"}        
      %a.awesome.giant.green{:href => "#create-aircraft", :onClick => "createAircraft(this); return false;"} Create Aircraft
    .left{:style => "display: inline;margin-right: -13px"}
      %a.awesome.medium.gray{:href => "#", :onClick => "$.facebox.close()"} Cancel
.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Aircraft
      %a.ico-plus{:href => "#new-aircraft", :rel => "facebox", :style => "margin-left: 5px"} &nbsp;
      / Action button in the header of the box
      %input.search{:type => "text", :size => "45", :style => "margin-left: 575px", :name => "aircraftsearch", :placeholder => "Filter aircrafts..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td Name
            %td Flight Prefix
            %td Type
            %td.tc{:style => "width: 60px"} Capacity
            %td.tc{:style => "width: 80px"} Weight limit
            %td.tc{:style => "width: 80px"} Cycle Minutes
            %td.tc{:style => "width: 60px"} Last Flight
            %td.tc{:style => "width: 80px"} Total Flights
        %tbody.striped
          -Aircraft.all.each_with_index do |aircraft, i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                -if aircraft.available
                  %img{:src => "/css/img/available.png"}
                -else
                  %img{:src => "/css/img/unavailable.png"}
              %td
                %a{:href => "#"}= aircraft.name
              %td
                %a{:href => "#"}= aircraft.flight_prefix
              %td.tc= aircraft.type
              %td.tc= aircraft.capacity
              %td.tc= aircraft.weight_limit
              %td.tc= aircraft.cycle_minutes
              
              %td.tc July 21st
              %td.tc= rand(42)**2

:javascript
  function createAircraft(button){
    var form_data = $('.newaircraftform:last').serialize();  
    $.post(('/ajax/aircraft?'+form_data), function(data) {
      $.facebox.close();
      $('#aircraft').html(data);
    });
    return false;
  }
  function toggleAircraft(){
    box = $('.aircraftavailable')
    if (box.attr('checked')){
      box.attr('checked', '');
    }else{
      box.attr('checked', 'checked');
      
    }
  }
