.box.box-100.altbox{:style => ' margin: 0 0 10px 0px; padding: 0;'}
  .boxin
    .content{:style => "margin: 0"}
      %table
        %thead
          %tr
            %th{:style => "border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0;position: relative; top: 1px;"}
              %b{:style => "font-size: 125%"} Member Check-in
              %input{:type => "text", :size => "32", :style => "height: 22px; margin-left: 167px;font-size: 145%;"}
              &nbsp;
              .shift{:style => "display: inline; margin: 0; padding: 0; position: relative; top: -2px;"}
                %a.awesome.green.medium{:style => 'color: white;'} Check In
.box.box-100.altbox
  .boxin
    .header
      %h3 Today's Reservations
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th Group Name
            %td.tc{:style => 'width: 60px'} Type
            %td.tc{:style => 'width: 150px'} Notes
            %td.tr{:style => 'width: 60px'} # Jumpers
            %td.tc{:style => 'width: 50px'} Time
            %td.tc{:style => 'width: 80px'} Booked
            %td.tc{:style => 'width: 120px'}
        %tbody
          -10.times do |i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                %a{:href => "#"} Kent McCullough
              %td= ["Phone", "Online", "In Person"][rand(3)]
              %td= (rand > 0.8 ? "Groupon" : "")
              %td.tr
                .stat.green{:href => "#", :style => "margin-right: 20px"}= rand(20)+1
              %td.tc #{8 + i/3}AM
              %td.tc July #{rand(11)+1}th
              %td
                %a.small.awesome.green{:href => "#", :style => 'padding: 2px 5px; color: white'} Arrived
                &nbsp;&nbsp;
                %a.small.awesome.red{:href => "#", :style => 'padding: 2px 5px; color: white'} No-Show
