.box.box-100.altbox{:style => ' margin: 0 0 10px 0px; padding: 0;'}
  .boxin{:style => "padding: 0"}
    .content{:style => "margin: 0;"}
      %table
        %thead
          %tr
            %th{:style => "border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0;position: relative; top: 1px;"}
              %b{:style => "font-size: 125%"} Existing Jumper
              %input#existingjumpers{:type => "text", :style => "height: 22px; width: 300px; margin-left: 135px;font-size: 125%; "}
              &nbsp;
              .shift{:style => "display: inline; margin: 0; padding: 0; position: relative; top: -2px;"}
                %a.awesome.green.medium{:style => 'color: white;'} Check In
    :javascript
      $(document).ready(function(){
        var availableTags = [#{"'" + Jumper.all.map{|j| j.name}.join("', '") + "'"}];
        $("#existingjumpers").autocomplete({
          source: availableTags,
          delay: 0
        });
      });
.box.box-100.altbox
  .boxin
    .header
      %h3 Today's Reservations
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th Group Name
            %td.tc{:style => 'width: 60px'} Type
            %td.tc{:style => 'width: 150px'} Notes
            %td.tr{:style => 'width: 60px'} # Jumpers
            %td.tc{:style => 'width: 50px'} Time
            %td.tc{:style => 'width: 80px'} Booked
            %td.tc{:style => 'width: 120px'}
        %tbody
          -10.times do |i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                %a{:href => "#"} Kent McCullough
              %td= ["Phone", "Online", "In Person"][rand(3)]
              %td= (rand > 0.8 ? "Groupon" : "")
              %td.tr
                .stat.green{:href => "#", :style => "margin-right: 20px"}= rand(20)+1
              %td.tc #{8 + i/3}AM
              %td.tc July #{rand(11)+1}th
              %td
                %a.small.awesome.green{:href => "#", :style => 'padding: 2px 5px; color: white'} Arrived
                &nbsp;&nbsp;
                %a.small.awesome.red2{:href => "#", :style => 'padding: 2px 5px; color: white'} No-Show
