.box.box-100.altbox{:style => ' margin: 0 0 10px 0px; padding: 0;'}
  .boxin{:style => "padding: 0"}
    .content{:style => "margin: 0;"}
      %table
        %thead
          %tr
            %th{:style => "border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 0;position: relative; top: 1px;"}
              %form#checkin-jumper{:style => "margin: 0; padding: 0; height: 30px; position: relative;"}
                %b{:style => "font-size: 125%;position: absolute; left: 20px; top: 3px"} Existing Jumper
                - unavailable_jumpers = @jumpers.find_all{|j| !j.available}
                - if unavailable_jumpers.empty?
                  %span{:style => "position: absolute; left: 375px; top: 5px"} All jumpers are available.
                - else
                  .selectbox{:style => "position: absolute; left: 280px; top: 0"}
                    %select#existing_jumper_checkin
                      %option#empty_selection
                      - unavailable_jumpers.each do |jumper|
                        %option= jumper.name
                  %ul#existing_jumper_added{:style => "position: absolute; left: 620px; top: 0"}
    :javascript
      $(document).ready(function(){
        // var availableNames = [#{@jumpers.find_all{|j| !j.available}.map{|j|"{'title': '" + j.name + "', 'value': '"+j.name + "'}"}.join(", ")}];

        $("#existing_jumper_checkin").fcbkcomplete({
          firstselected: true
        });
        $(".bit-box[rel=]").hide();
        
        $(".maininput").keypress(function(e){
          if (e.which == 13){
            alert('Hi!');
          }
          
        });
        
        $('#checkin-jumper').submit(function(){
          var field = $("#existingjumpers");
          var name = field.val();
          field.val("");
          $.get(("/ajax/jumper/available?jumper="+name+"&value=true"), function(data){});
          return false;
        });
      });
      function testme(item){
        alert("hi!");
      }
.box.box-100.altbox
  .boxin
    .header
      %h3 Today's Reservations
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th Group Name
            %td.tc{:style => 'width: 60px'} Type
            %td.tc{:style => 'width: 150px'} Notes
            %td.tr{:style => 'width: 60px'} # Jumpers
            %td.tc{:style => 'width: 50px'} Time
            %td.tc{:style => 'width: 80px'} Booked
            %td.tc{:style => 'width: 120px'}
        %tbody
          -10.times do |i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                %a{:href => "#"} Kent McCullough
              %td= ["Phone", "Online", "In Person"][rand(3)]
              %td= (rand > 0.8 ? "Groupon" : "")
              %td.tr
                .stat.green{:href => "#", :style => "margin-right: 20px"}= rand(20)+1
              %td.tc #{8 + i/3}AM
              %td.tc July #{rand(11)+1}th
              %td
                %a.small.awesome.green{:href => "#", :style => 'padding: 2px 5px; color: white'} Arrived
                &nbsp;&nbsp;
                %a.small.awesome.red2{:href => "#", :style => 'padding: 2px 5px; color: white'} No-Show
