
.edit-rigs{:style => "width: 600px; text-align: center;", :id => 'edit'+@jumper.id}
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} #{@jumper.name}'s Rigs
  .box.box-60.box{:style => "margin: 15px"}
    .boxin{:style => "border-top-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border: #AAA"}
      .content
        %table{:cellspacing => "0", :style => "width: 100%;"}
          %thead
            %tr
              %th{:style => "padding: 10px;"} &nbsp;
              %th Name
              %th Container
              %th.tc Main
              %th.tc Main Repack
              %th.tc Reserve
              %th.tc Reserve Repack
              
          %tbody.striped
            -@jumper.rig_ids.map{|j_id| Rig.get(j_id)}.compact.each_with_index do |rig, i|
              %tr{:class => ( i == 0 ? "first" : "")}
                %td.tc{:style => "padding: 0"}
                  -if rig.active
                    %img{:src => "/css/img/available.png"}
                  -else
                    %img{:src => "/css/img/unavailable.png"}
                %td.tc.bold= rig.name
                %td.tc.bold= rig.container_type
                %td.tc= rig.main_type
                %td.tc= rig.main_repack
                
                %td.tc= rig.reserve_type
                %td.tc= rig.reserve_repack
                
  %form.newrigform{:style => "margin-right: 150px; text-align: right; font-size: 16px"}
    %input{:type => "hidden", :name => "jumper_id", :value => @jumper.id}
    %p.bold{:style => 'margin-right: 125px'} New Rig
    %p
      %label Rig Name
      %input{:type => "text", :size => "30", :name => "name", :style => "margin-left: 20px"}
    %p
      %label Container Type
      %input{:type => "text", :size => "30", :name => "container_type", :style => "margin-left: 20px"}
    %br
    %p
      %label Main Type
      %input{:type => "text", :size => "30", :style => "margin-left: 20px", :name => "main_type"}
    %p
      %label Reserve Type
      %input{:type => "text", :size => "30", :style => "margin-left: 20px", :name => "reserve_type"}
    %p
      %label Main Repacked
      %input{:type => "text", :size => "30", :name => "main_repack", :style => "margin-left: 20px"}
    %p
      %label Reserve Repacked
      %input{:type => "text", :size => "30", :name => "reserve_repack", :style => "margin-left: 20px"}
    %br
  %br
  .left{:style => "display: inline; margin-right: 12px"}        
    %a.awesome.giant.green{:href => "#new-rig-form", :onClick => "createRig(this);"} Add Rig
  %br
  %br
  .left{:style => "display: inline;margin-right: -13px"}
    %a.awesome.large.gray{:href => "#", :onClick => "$.facebox.close()"} Close
    
:javascript
  function createRig(button){
    var form_data = $('.newrigform:last').serialize();  
    $.post(('/ajax/rig?'+form_data), function(data) {
      $.facebox.close();
      $('#jumpers').html(data);
    });
    return false;
  }