
.edit-rigs{:style => "width: 600px; text-align: center;", :id => 'edit'+@jumper.id}
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} #{@jumper.name}'s Rigs
  .box.box-60.box{:style => "margin: 15px"}
    .boxin{:style => "border-top-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border: #AAA"}
      .content
        %table{ :style => "width: 100%;"}
          %thead
            %tr
              %th{:style => "padding: 10px;"} &nbsp;
              %th.tc Name
              %th.tc Container
              %th.tc Main
              %th.tc Reserve
              %th.tc Reserve Repack
              
          %tbody.striped
            -@jumper.rig_ids.map{|j_id| Rig.get(j_id)}.compact.each_with_index do |rig, i|
              %tr{:class => ( i == 0 ? "first" : "")}
                %td.tc{:style => "padding: 0"}
                  -if rig.active
                    %img{:src => "/css/img/available.png"}
                  -else
                    %img{:src => "/css/img/unavailable.png"}
                %td.tc.bold= rig.name
                %td.tc.bold= rig.container_type
                %td.tc= rig.main_type
                
                %td.tc= rig.reserve_type
                %td.tc= rig.reserve_repack
                
  %form.newrigform
    %fieldset{:style => "width: 80%; margin: auto;"}
      %input{:type => "hidden", :name => "jumper_id", :value => @jumper.id}
      %label.bold{:style => 'font-size: 16px; text-align: center;background: #eee; display: block; margin: -5px -5px 0px -5px; padding: 5px;border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;'} New Rig
      %div{:style => 'text-align: center; padding: 10px;font-size: 16px;'}
        %label.bold Rig Name
        %input{:type => "text", :size => "15", :name => "name", :style => "margin-left: 20px"}
      %table
        %tr
          %td{:style => "padding: 5px"}
            %label Container Type
            %input{:type => "text", :size => "15", :name => "container_type", :style => "margin-left: 14px"}
          %td{:style => "padding: 5px"}
            %label Main Type
            %input{:type => "text", :size => "15", :style => "margin-left: 20px", :name => "main_type"}
        %tr
          %td{:style => "padding: 5px"}
            %label Reserve Type
            %input{:type => "text", :size => "15", :style => "margin-left: 20px", :name => "reserve_type"}
          %td{:style => "padding: 5px"}
            %label Repacked
            %input{:type => "text", :size => "15", :name => "reserve_repack", :style => "margin-left: 20px"}
      %br
      .left{:style => "display: inline;"}        
        %a.awesome.giant.green{:href => "#new-rig-form", :onClick => "createRig(this);"} Add Rig
  %br
  .left{:style => "display: inline;"}
    %a.awesome.large.gray{:href => "#", :onClick => "$.facebox.close()"} Close
    
:javascript
  function createRig(button){
    var form_data = $('.newrigform:last').serialize();  
    $.post(('/ajax/rig?'+form_data), function(data) {
      $.facebox.close();
      $('#jumpers').html(data);
    });
    return false;
  }