!!! Strict
%html{:lang => "cs", "xml:lang" => "cs", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "text/css", "http-equiv" => "content-style-type"}/
    %meta{:content => "text/javascript", "http-equiv" => "content-script-type"}/
    %title DZKey
    %link{:href => "css/facebox.css", :media => "screen, projection, tv", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 7.0] <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection, tv" />
    /[if IE 8.0]
      <style type="text/css">
      form.fields fieldset {margin-top: -10px;}
      </style>
    %script{:src => "js/jquery.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery-ui-1.8.2.min.js", :type => "text/javascript"}
    %script{:src => "js/vtip-min.js", :type => "text/javascript"}
    %link{:href => "css/blue.css", :media => "screen, projection, tv", :rel => "stylesheet", :type => "text/css"}/
    
    
    / Adding support for transparent PNGs in IE6:
    /[if lte IE 6]
      <script type="text/javascript" src="js/ddpng.js"></script>
      
      <script type="text/javascript">
      DD_belatedPNG.fix('#nav #h-wrap .h-ico');
      DD_belatedPNG.fix('.ico img');
      DD_belatedPNG.fix('.msg p');
      DD_belatedPNG.fix('table.calendar thead th.month a img');
      DD_belatedPNG.fix('table.calendar tbody img');
      </script>
    <script src="js/facebox.js" type="text/javascript"></script>
    :javascript
      $(document).ready(function() {
        $('a[rel*=facebox]').facebox();
        // Search input text handling on focus
        var $searchq = $("#search-q").attr("value");
          $('#search-q.text').css('color', '#999');
        $('#search-q').focus(function(){
          if ( $(this).attr('value') == $searchq) {
            $(this).css('color', '#555');
            $(this).attr('value', '');
          }
        });
        $('#search-q').blur(function(){
          if ( $(this).attr('value') == '' ) {
            $(this).attr('value', $searchq);
            $(this).css('color', '#999');
          }
        });
        // Switch categories
        $('#h-wrap').hover(function(){
            $(this).toggleClass('active');
            $("#h-wrap ul").css('display', 'block');
          }, function(){
            $(this).toggleClass('active');
            $("#h-wrap ul").css('display', 'none');
        });
        $('tbody.expander tr:odd').fadeOut();
        
        // Handling with tables (adding first and last classes for borders and adding alternate bgs)
        $('tbody.striped tr:even').addClass('even');
        $('tbody.expander tr:even').click(function(){
          if ($(this).next().is(':visible')){
            $(this).next().fadeOut("fast");
          }else{
            $(this).next().fadeIn("fast");
          }
        });
        
        
        $('table.grid tbody tr:last-child').addClass('last');
        $('tr th:first-child, tr td:first-child').addClass('first');
        $('tr th:last-child, tr td:last-child').addClass('last');
        $('form.fields fieldset:last-child').addClass('last');
        // Handling with lists (alternate bgs)
        $('ul.simple li:even').addClass('even');
        // Handling with grid views (adding first and last classes for borders and adding alternate bgs)
        $('.grid .line:even').addClass('even');
        $('.grid .line:first-child').addClass('firstline');
        $('.grid .line:last-child').addClass('lastline');
        // Tabs switching
        $('#box1 .content#box1-grid').hide(); // hide content related to inactive tab by default
        $('#box1 .header ul a').click(function(){
          $('#box1 .header ul a').removeClass('active');
          $(this).addClass('active'); // make clicked tab active
          $('#box1 .content').hide(); // hide all content
          $('#box1').find('#' + $(this).attr('rel')).show(); // and show content related to clicked tab
          return false;
        });
      });
  %body
    #current_page{:style => "display: none"}= "#"+@current_page
    #nav
      .inner-container.clearfix
        %a.dzkey-small{:href => "/", :style => "border: none"}
        #h-wrap{:style => "margin-left: 365px"}
          .inner
            %h2
              %span#manager-title.menu-title.h-ico.ico-library{:style => "width: 169px"}
                %span Manager
              %span#manifest-title.menu-title.h-ico.ico-edit{:style => "width: 169px"}
                %span Manifest
              %span#schedule-title.menu-title.h-ico.ico-schedule{:style => "width: 169px"}
                %span Schedule
              %span#jumpers-title.menu-title.h-ico.ico-users{:style => "width: 169px"}
                %span Jumpers
              %span#store-title.menu-title.h-ico.ico-cash{:style => "width: 169px"}
                %span Store
              %span#staff-title.menu-title.h-ico.ico-staff{:style => "width: 169px"}
                %span Staff
              %span#aircraft-title.menu-title.h-ico.ico-aircraft{:style => "width: 169px"}
                %span Aircraft
              %span#settings-title.menu-title.h-ico.ico-advanced{:style => "width: 169px"}
                %span Settings
              %span.h-arrow
            %ul.clearfix
              %li
                %a#manager-item.menu-item.h-ico.ico-library{:href => "#manager"}
                  %span Manager
              %li
                %a#manifest-item.menu-item.h-ico.ico-edit{:href => "#manifest"}
                  %span Manifest
              %li
                %a#schedule-item.menu-item.h-ico.ico-schedule{:href => "#schedule"}
                  %span Schedule
              %li
                %a#jumpers-item.menu-item.h-ico.ico-users{:href => "#jumpers"}
                  %span Jumpers
              %li
                %a#store-item.menu-item.h-ico.ico-cash{:href => "#store"}
                  %span Store
              %li
                %a#settings-item.menu-item.h-ico.ico-staff{:href => "#staff"}
                  %span Staff
              %li
                %a#aircraft-item.menu-item.h-ico.ico-aircraft{:href => "#aircraft"}
                  %span Aircraft
              %li
                %a#settings-item.menu-item.h-ico.ico-advanced{:href => "#settings"}
                  %span Settings
              /
                %li
                  %a.h-ico.ico-comments{:href => "#"}
                    %span Comments
                %li
                  %a.h-ico.ico-media{:href => "#"}
                    %span Media
                %li
                  %a.h-ico.ico-syndication{:href => "#"}
                    %span Syndication
                %li
                  %a.h-ico.ico-send{:href => "#"}
                    %span Newsletter
                %li
                  %a.h-ico.ico-color{:href => "#"}
                    %span Appearance
              :javascript
                $(document).ready(function(){
                  var curPageID = $("#current_page").html();
                  $(".menu-title").hide();
                  $(curPageID + "-title").show();
                  $(curPageID + "-item").hide();
                  
                  $(".menu-item").click(function(){
                    $("#h-wrap ul").css('display', 'none');
                    var newID = $(this).attr("href");
                    $("#current_page").html(newID);
                    $(".menu-title").hide();
                    $(newID + "-title").show();
                    $(".menu-item").show();
                    $(newID + "-item").hide();
                    $(".pagediv").hide();
                    $(newID).show();
                    return false;
                  });
                });
        #userbox{:style => "margin-top: -15px; margin-bottom: -15px"}
          .inner
            .user-ico
            %strong Kent McCullough
            %ul.clearfix
              %li
                %a{:href => "#"} profile
              %li
                %a{:href => "#"} settings
          %a#logout.logout-ico{:href => "#", :title => "Log Out"}
    #container
      .inner-container
        #manager.pagediv{:style => (@current_page == "manager" ? "" : "display: none")}
          = haml :manager, :layout => false
        #manifest.pagediv{:style => (@current_page == "manifest" ? "" : "display: none")}
          = haml :manifest, :layout => false
        #schedule.pagediv{:style => (@current_page == "schedule" ? "" : "display: none")}
          = haml :schedule, :layout => false
        #jumpers.pagediv{:style => (@current_page == "jumpers" ? "" : "display: none")}
          = haml :jumpers, :layout => false
        #store.pagediv{:style => (@current_page == "store" ? "" : "display: none")}
          = haml :store, :layout => false
        #staff.pagediv{:style => (@current_page == "staff" ? "" : "display: none")}
          = haml :staff, :layout => false
        #aircraft.pagediv{:style => (@current_page == "aircraft" ? "" : "display: none")}
          = haml :aircraft, :layout => false
        #settings.pagediv{:style => (@current_page == "settings" ? "" : "display: none")}
          = haml :settings, :layout => false
      #footer
        %p
          © DZKey 2010        
