#new-jumper{:style => "display: none; width: 600px; text-align: center"}
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} New Jumper
  %form.newjumperform{:style => "margin-right: 150px; text-align: right; font-size: 16px"}
    %p.bold
      %label Name
      %input{:type => "text", :size => "12", :name => "first_name", :style => "margin-left: 20px"}
      %input{:type => "text", :size => "12", :name => "last_name", :style => "margin-left: 0px"}
    %p
      %label Nickname
      %input{:type => "text", :size => "30", :name => "nickname", :style => "margin-left: 20px"}
    %br
    %p
      %label Type
      %select{:style => "width: 177px; margin-left: 20px", :name => "type"}
        %option Tandem
        %option AFF Student
        %option USPA Member
        %option Other
    %p
      %label Last Certified
      %input{:type => "text", :size => "30", :style => "margin-left: 20px", :name => "last_certified"}
    %br
    %p
      %label Address
      %input{:type => "text", :size => "30", :name => "address", :style => "margin-left: 20px"}
    %p
      %label City
      %input{:type => "text", :size => "30", :name => "city", :style => "margin-left: 20px"}
    %p
      %label State
      %select{:style => "width: 177px; margin-left: 20px", :name => "state"}
        %option{:value => "AL"} AL - Alabama
        %option{:value => "AK"} AK - Alaska
        %option{:value => "AZ"} AZ - Arizona
        %option{:value => "AR"} AR - Arkansas
        %option{:value => "CA"} CA - California
        %option{:value => "CO"} CO - Colorado
        %option{:value => "CT"} CT - Connecticut
        %option{:value => "DE"} DE - Delaware
        %option{:value => "FL"} FL - Florida
        %option{:value => "GA"} GA - Georgia
        %option{:value => "HI"} HI - Hawaii
        %option{:value => "ID"} ID - Idaho
        %option{:value => "IL"} IL - Illinois
        %option{:value => "IN"} IN - Indiana
        %option{:value => "IA"} IA - Iowa
        %option{:value => "KS"} KS - Kansas
        %option{:value => "KY"} KY - Kentucky
        %option{:value => "LA"} LA - Louisiana
        %option{:value => "ME"} ME - Maine
        %option{:value => "MD"} MD - Maryland
        %option{:value => "MA"} MA - Massachusetts
        %option{:value => "MI"} MI - Michigan
        %option{:value => "MN"} MN - Minnesota
        %option{:value => "MS"} MS - Mississippi
        %option{:value => "MO"} MO - Missouri
        %option{:value => "MT"} MT - Montana
        %option{:value => "NE"} NE - Nebraska
        %option{:value => "NV"} NV - Nevada
        %option{:value => "NH"} NH - New Hampshire
        %option{:value => "NJ"} NJ - New Jersey
        %option{:value => "NM"} NM - New Mexico
        %option{:value => "NY"} NY - New York
        %option{:value => "NC"} NC - North Carolina
        %option{:value => "ND"} ND - North Dakota
        %option{:value => "OH"} OH - Ohio
        %option{:value => "OK"} OK - Oklahoma
        %option{:value => "OR"} OR - Oregon
        %option{:value => "PA"} PA - Pennsylvania
        %option{:value => "RI"} RI - Rhode Island
        %option{:value => "SC"} SC - South Carolina
        %option{:value => "SD"} SD - South Dakota
        %option{:value => "TN"} TN - Tennessee
        %option{:value => "TX"} TX - Texas
        %option{:value => "UT"} UT - Utah
        %option{:value => "VT"} VT - Vermont
        %option{:value => "VA"} VA - Virginia
        %option{:value => "WA"} WA - Washington
        %option{:value => "WV"} WV - West Virginia
        %option{:value => "WI"} WI - Wisconsin
        %option{:value => "WY"} WY - Wyoming
        %option{:value => "ZZ"} Other
    %p
      %label ZIP Code
      %input{:type => "text", :size => "30", :name => "zip", :style => "margin-left: 20px"}
    %p
      %label Country
      %input{:type => "text", :size => "30", :name => "country", :style => "margin-left: 20px"}
    %br
    %p.bold
      %label Initial Balance
      %input{:type => "text", :size => "30", :style => "margin-left: 20px", :name => "balance", :value => "0.00"}
    %br
    %div
      .checkcontainer{:onClick => "toggleAvailable();", :style => 'margin-right: 78px; position: relative'}
        .cover{:style => "display: block; position: absolute; margin: 0; width: 110px; height: 30px; opacity: 0;"}
        %input.available{:type => "checkbox", :style => "margin-right: 10px;", :name => "available", :checked => "checked"}
        %label{:style => "font-weight: bold;"} Check In
    %br
    .left{:style => "display: inline; margin-right: 12px"}        
      %a.awesome.giant.green{:href => "#create-jumper", :onClick => "createJumper(this);"} Create Jumper
    .left{:style => "display: inline;margin-right: -13px"}
      %a.awesome.medium.gray{:href => "#", :onClick => "$.facebox.close()"} Cancel
.box.box-100.altbox
  .boxin
    .header
      %h3 Jumpers
      %a.plus{:href => "#new-jumper", :rel => "jumpersfacebox", :style => "margin-left: 5px"} &nbsp;
      %input#jumpersearch.search{:type => "text", :size => "45", :style => "margin-left: 575px", :name => "jumpersearch", :placeholder => "Filter jumpers..."}
    .content
      %table#jumpertable{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %th{:style => "width: 80px"} First
            %th Last
            %th{:style => "width: 80px"} Nickname
            %th.tc{:style => "width: 70px"} Balance ($)
            %th.tc{:style => "width: 80px"} Type
            %th.tc{:style => "width: 60px"} Rigs
            %th.tc{:style => "width: 100px"} Last Jump
            %th.tc{:style => "width: 70px"} Total Jumps
            %th.tc{:style => 'width: 60px'} View/Edit
        %tbody.striped
          -@jumpers.each_with_index do |jumper, i|
            %tr
              %td
                -if jumper.available
                  %a{:href => "#", :style => "border: none"}
                    %img{:src => "/images/dotbutton-green.png", :style => "vertical-align: middle; position: relative; top: -3px; width: 22px; height: 22px;"}
                -else
                  %a{:href => "#", :style => "border: none"}
                    %img{:src => "/images/dotbutton-red.png", :style => "vertical-align: middle; position: relative; top: -3px; width: 22px; height: 22px;"}
              %td.bold= jumper.first_name
              %td.bold= jumper.last_name 
              %td= jumper.nickname
              %td.tr
                -balance = jumper.balance.to_f || 0
                
                %a.stat{:href => "#", :style => 'display: block; width: 100%; padding: 0; padding-right: 5px; margin: 0;margin-bottom: -5px; float: right', :class => (balance > 0 ? "green" : balance == 0 ? "gray" : "red")}= "%5.2f" % balance
              %td.tc= jumper.type
              %td.tc
                - good_rigs = jumper.rig_ids.length
                - caution_rigs = 0
                - bad_rigs = 0
                %a.stat-cover{:href => "/ajax/edit-rigs?id="+jumper.id, :rel => 'jumpersfacebox'}
                .stat.green.flat-right{:href => "#", :style => (good_rigs > 0 ? "" : "visibility: hidden")}= good_rigs
                .stat.yellow.flat-right.merge-left{:href => "#", :style => (caution_rigs > 0 ? "" : "visibility: hidden")}= caution_rigs
                .stat.red.merge-left{:href => "#", :style => (bad_rigs > 0 ? "" : "visibility: hidden")}= bad_rigs
              %td.tc July #{rand(26)+1}
              %td.tc= jumper.manifest_ids.length
              %td.tc
                %a.awesome.yellow.medium{:style => 'padding: 2px 5px', :href => "/ajax/edit-jumper?id="+jumper.id, :rel => 'jumpersfacebox'}
                  %img{:src => "/css/img/led-ico/pencil.png", :width => "16", :height => "16", :style => 'vertical-align: text-top'}
                

:javascript
  $(document).ready(function(){
    $('a[rel*=jumpersfacebox]').facebox();
    $('tbody.striped tr:even').addClass('even');
    var jumpertable = $("#jumpertable")
    jumpertable.tablesorter({
      cssHeader: "",
      cssAsc: "table-header-asc",
      cssDesc: "table-header-desc"
    });
    $("#jumpersearch").keyup(function() {
      $.uiTableFilter( jumpertable, this.value );
    });
  });
  function createJumper(button){
    var form_data = $('.newjumperform:last').serialize();  
    $.post(('/ajax/jumper?'+form_data), function(data) {
      $.facebox.close();
      $('#jumpers').html(data);
    });
    return false;
  }
  function toggleAvailable(){
    box = $('.available')
    if (box.attr('checked')){
      $('.available').attr('checked', '');
    }else{
      $('.available').attr('checked', 'checked');
    }
  }
                