!!! Strict
%html{:lang => "cs", "xml:lang" => "cs", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "text/css", "http-equiv" => "content-style-type"}/
    %meta{:content => "text/javascript", "http-equiv" => "content-script-type"}/
    %title Swoop
    %link{:href => "css/blue.css", :media => "screen, projection, tv", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 7.0] <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection, tv" />
    /[if IE 8.0]
      <style type="text/css">
      form.fields fieldset {margin-top: -10px;}
      </style>
    %script{:src => "js/jquery-1.3.2.min.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js", :type => "text/javascript"}
    / Adding support for transparent PNGs in IE6:
    /[if lte IE 6]
      <script type="text/javascript" src="js/ddpng.js"></script>
      <script type="text/javascript">
      DD_belatedPNG.fix('#nav #h-wrap .h-ico');
      DD_belatedPNG.fix('.ico img');
      DD_belatedPNG.fix('.msg p');
      DD_belatedPNG.fix('table.calendar thead th.month a img');
      DD_belatedPNG.fix('table.calendar tbody img');
      </script>
    :javascript
      $(document).ready(function() {
          // Search input text handling on focus
          var $searchq = $("#search-q").attr("value");
            $('#search-q.text').css('color', '#999');
          $('#search-q').focus(function(){
            if ( $(this).attr('value') == $searchq) {
              $(this).css('color', '#555');
              $(this).attr('value', '');
            }
          });
          $('#search-q').blur(function(){
            if ( $(this).attr('value') == '' ) {
              $(this).attr('value', $searchq);
              $(this).css('color', '#999');
            }
          });
          // Switch categories
          $('#h-wrap').hover(function(){
              $(this).toggleClass('active');
              $("#h-wrap ul").css('display', 'block');
            }, function(){
              $(this).toggleClass('active');
              $("#h-wrap ul").css('display', 'none');
          });
          // Handling with tables (adding first and last classes for borders and adding alternate bgs)
          $('tbody tr:even').addClass('even');
          $('table.grid tbody tr:last-child').addClass('last');
          $('tr th:first-child, tr td:first-child').addClass('first');
          $('tr th:last-child, tr td:last-child').addClass('last');
          $('form.fields fieldset:last-child').addClass('last');
          // Handling with lists (alternate bgs)
          $('ul.simple li:even').addClass('even');
          // Handling with grid views (adding first and last classes for borders and adding alternate bgs)
          $('.grid .line:even').addClass('even');
          $('.grid .line:first-child').addClass('firstline');
          $('.grid .line:last-child').addClass('lastline');
          // Tabs switching
          $('#box1 .content#box1-grid').hide(); // hide content related to inactive tab by default
          $('#box1 .header ul a').click(function(){
            $('#box1 .header ul a').removeClass('active');
            $(this).addClass('active'); // make clicked tab active
            $('#box1 .content').hide(); // hide all content
            $('#box1').find('#' + $(this).attr('rel')).show(); // and show content related to clicked tab
            return false;
          });
      });
  %body
    #nav
      .inner-container.clearfix
        %a.swoop-small{:href => "/", :style => "border: none"}
        #h-wrap{:style => "margin-left: 365px"}
          .inner
            %h2
              %span#dashboard-title.menu-title.h-ico.ico-dashboard{:style => "width: 169px"}
                %span Dashboard
              %span#manifest-title.menu-title.h-ico.ico-edit{:style => "width: 169px"}
                %span Manifests
              %span#members-title.menu-title.h-ico.ico-users{:style => "width: 169px"}
                %span Members
              %span#store-title.menu-title.h-ico.ico-cash{:style => "width: 169px"}
                %span Store
              %span#settings-title.menu-title.h-ico.ico-advanced{:style => "width: 169px"}
                %span Settings
              %span.h-arrow
            %ul.clearfix
              %li
                %a#dashboard-item.menu-item.h-ico.ico-dashboard{:href => "#dashboard"}
                  %span Dashboard
              %li
                %a#manifest-item.menu-item.h-ico.ico-edit{:href => "#manifest"}
                  %span Manifests
              %li
                %a#members-item.menu-item.h-ico.ico-users{:href => "#members"}
                  %span Members
              %li
                %a#store-item.menu-item.h-ico.ico-cash{:href => "#store"}
                  %span Store
              %li
                %a#settings-item.menu-item.h-ico.ico-advanced{:href => "#settings"}
                  %span Settings
              /
                %li
                  %a.h-ico.ico-comments{:href => "#"}
                    %span Comments
                %li
                  %a.h-ico.ico-media{:href => "#"}
                    %span Media
                %li
                  %a.h-ico.ico-syndication{:href => "#"}
                    %span Syndication
                %li
                  %a.h-ico.ico-send{:href => "#"}
                    %span Newsletter
                %li
                  %a.h-ico.ico-color{:href => "#"}
                    %span Appearance
              :javascript
                $(document).ready(function(){
                  $(".pagediv").hide();
                  $("#dashboard").show();
                  $(".menu-title").hide();
                  $("#dashboard-title").show();
                  $("#dashboard-item").hide();
                  
                  $(".menu-item").click(function(){
                    var newID = $(this).attr("href");
                    $(".menu-title").hide();
                    $(newID + "-title").show();
                    $(".menu-item").show();
                    $(newID + "-item").hide();
                    $(".pagediv").hide();
                    $(newID).show();
                    return false;
                  });
                });
        #userbox{:style => "margin-top: -15px; margin-bottom: -15px"}
          .inner
            .user-ico
            %strong John Doe
            %ul.clearfix
              %li
                %a{:href => "#"} profile
              %li
                %a{:href => "#"} settings
          %a#logout.logout-ico{:href => "#"}
    #container
      .inner-container
        = yield
        = haml :manifest, :layout => false
        = haml :members, :layout => false
        = haml :settings, :layout => false
        = haml :store, :layout => false