.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Available Aircraft
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td Name
            %td Flight Prefix
            %td Type
            %td.tc{:style => "width: 60px"} Capacity
            %td.tc{:style => "width: 80px"} Cycle Minutes
            %td.tc{:style => "width: 100px"} Next Departure
            %td.tc{:style => "width: 100px"} Remaining Flights
        %tbody.striped
          -Aircraft.all.find_all{|a| a.available}.each_with_index do |aircraft, i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                %a.ico-plus.vtip{:href => "#newflight", :onclick => "newFlight('#{aircraft.id}')", :title => "New flight with this aircraft", :style => "margin: 0 -5px"} &nbsp;
              %td
                %a{:href => "#"}= aircraft.name
              %td
                %a{:href => "#"}= aircraft.flight_prefix
              %td.tc= aircraft.type
              %td.tc= aircraft.capacity
              %td.tc= aircraft.cycle_minutes
              
              %td.tc July 21st
              %td.tc= rand(42)**2
        
      
.box.box-60.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Flights
      =# %a.ico-plus{:href => "#new-manifest", :rel => "facebox", :style => "margin-left: 5px"}

    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %td{:style => "width: 15px"} 
            %th Name
            %td.tc Plane
            %td.tc Jump Date
            %td.tc Jumpers
            %td.tc Weight (lbs.)
        %tbody.expander
          -5.times do |i|
            %tr{:class => (i == 0 ? "first" : "")}
              %td &#9658;
              %td
                %a{:href => "#"} Flight #{123-i}
              %td.tc Cessna 182
              %td.tc 7/24/2011
              %td.tc
                -cleared_jumpers = rand(10)
                -fail_jumpers = rand(2)
                %a.stat.green{:href => "#", :style => (cleared_jumpers > 0 ? "" : "visibility: hidden")}= cleared_jumpers
                %a.stat.red.vtip{:href => "#", :title => "Kent McCullough's Rig expired on 7/18/10", :style => (fail_jumpers > 0 ? "" : "visibility: hidden")}= fail_jumpers
              %td.tc= rand(3000)
            %tr{:style => "background: #F3F3F3;"}
              %td{:style => "border-bottom: 1px solid #BBB;"}
              %td{:colspan => 5, :style => "border-bottom: 1px solid #BBB;"}
                %table{:style => "border-bottom: 10px solid #DDD;"}
                  %thead
                    %tr
                      %th{:style => "width: 8px"} &nbsp;
                      %td{:style => "width: 80px"} Name
                      %td.tc{:style => "width: 60px"} Balance ($)
                      %td.tc{:style => "width: 60px"} Type
                      %td.tc{:style => "width: 60px"} Rigs
                  %tbody.manifest.connectedSortable
                    %tr
                      %td
                      %td
                      %td{:style => "text-align: center"} Drag Jumpers Here.
                      %td
                      %td
              
.box.box-40.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Jumpers
      %input.search{:type => "text", :size => "25", :style => "margin-left: 123px", :name => "jumpersearch", :placeholder => "Filter jumpers..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td{:style => "width: 80px"} Name
            %td.tc{:style => "width: 60px"} Balance ($)
            %td.tc{:style => "width: 60px"} Type
            %td.tc{:style => "width: 60px"} Rigs
        %tbody.jumpers.connectedSortable
          -Jumper.all.each_with_index do |jumper, i|
            %tr{:style => "width: 365px"}
              %td{:style => "width: 8px"}
                -if jumper.available
                  %img{:src => "/css/img/available.png"}
                -else
                  %img{:src => "/css/img/unavailable.png"}
              %td{:style => "width: 80px"}= jumper.nickname
              %td.tr{:style => "width: 60px"}
                -balance = jumper.balance.to_f || (rand(10000) - 3000)/50.0
                
                .stat{:href => "#", :style => 'display: block; width: 50px; padding: 0; padding-right: 5px; margin: 0;margin-bottom: -5px; float: right', :class => (balance > 0 ? "green" : "red")}= "%5.2f" % balance
              %td.tc{:style => "width: 60px"}= jumper.type.to_s
              %td.tc{:style => "width: 60px"}
                - good_rigs = rand(4)
                - caution_rigs = rand(2)
                - bad_rigs = rand(2)
                %a.stat.green.flat-right{:href => "#", :style => (good_rigs > 0 ? "" : "visibility: hidden")}= good_rigs
                %a.stat.yellow.flat-right.merge-left{:href => "#", :style => (caution_rigs > 0 ? "" : "visibility: hidden")}= caution_rigs
                %a.stat.red.merge-left{:href => "#", :style => (bad_rigs > 0 ? "" : "visibility: hidden")}= bad_rigs
:javascript
  $(document).ready(function(){
    $('a[rel*=facebox]').facebox();
    $(".jumpers, .manifest").sortable({
                    connectWith: ['.connectedSortable'], dropOnEmpty: true
            }).disableSelection();
  });
  function newFlight(aircraft_id){
    alert("not implemented yet.");
  }
