.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Available Aircraft
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %td{:style => "width: 90px"}
            %td.tc Name
            %td.tc{:style => "width: 80px"} Status
            %td.tl{:style => "width: 90px"} Current Flight
            %td.tc{:style => 'width: 275px'} Departure
            %td.tc{:style => "width: 70px"} Next Flight
        %tbody.striped
          -Aircraft.all.find_all{|a| a.available}.each_with_index do |aircraft, i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %td
                %a.awesome.medium.green{:href => "#newflight", :onclick => "newFlight('#{aircraft.id}')", :style => "position: relative; top: -2px;color: white"} New Flight
                
              %td
                %a.awesome.small.gray-red{:href => "#", :style => "color: white;margin-right: 3px; position: relative; top: -3px;-webkit-box-shadow: none;-moz-box-shadow: none;"} &#10073;&#8202;&#10073;
                
                %b{:href => "#", :style => "font-size: 150%"}= aircraft.name
              %td.tc Waiting
              %td.tl{:style => "font-size: 125%"}
                - if aircraft.current_flight && (current_flight = Flight.get(aircraft.current_flight))
                  = current_flight.aircraft_prefix + ("%03.0f" % current_flight.number)
                - else
                  none
                %a.awesome.small.green.vtip{:href => "#", :style => "color: white;margin-right: 3px;float: right; position: relative; top: 3px;-webkit-box-shadow: none;-moz-box-shadow: none; ", :title => "Flight Landed"} &#8618;
                
              %td.tc{:style => "font-size: 115%"}
                %a.stat.red.flat-right{:href => "#", :style => "position: relative; top: -1px;border-right: 1px solid #900"} -&#8202;&#8202;&#8202;5
                %a.stat.red.flat-right.merge-left{:href => "#", :style => "position: relative; top: -1px;"} -&#8202;&#8202;1
                %a.flight-time.stat.gray.vtip{:style => "margin-left: -5px; background-color: #333; font-size: 100%; padding: 5px 0; width: 125px", :alt => "Flight Time", :title => (aircraft.departure_time ? Time.parse(aircraft.departure_time).strftime("%I:%M%p") : "Unscheduled")}
                  -if aircraft.departure_time
                    -time_left = (Time.parse(aircraft.departure_time) - Time.now).to_i
                    -if time_left > 0
                      .absolute_depart{:id => aircraft.id, :style => "position: absolute; visibility: hidden;"}= time_left.to_s
                      .departure_time{:id => aircraft.id+"prettydepart", :style => "display: inline;"}= (time_left/60).to_s
                      &nbsp;Minutes
                    -else
                      Airborn
                  -else
                    Unscheduled
                %a.stat.green.merge-left.flat-left.flat-right{:href => "#", :style => "position: relative; top: -1px;border-right: 1px solid #090"} +1
                %a.stat.green.merge-left{:href => "#", :style => "position: relative; top: -1px;"} +&#8202;5
                
              %td.tl
                -if aircraft.next_flight && (next_flight = Flight.get(aircraft.next_flight))
                  = next_flight.aircraft_prefix + ("%03.0f" % next_flight.number)
                -else
                  none

:javascript
  $(document).ready(function(){
    var departInterval = setInterval(updateDeparts, 1000);
    /
      doesn't always un-hover
      $(".flight-time").hover(function(){
        var old_val = $(this).attr("title");
        $(this).attr("title", $(this).html());
        $(this).html(old_val);
      });
    function updateDeparts(){
      $(".absolute_depart").each(function(abs_depart){
        var new_depart = parseInt($(this).text()) - 1;
        $(this).text(new_depart);
        $("#"+this.id+"prettydepart").html(Math.floor(new_depart/60))
      });
    }
  });
  
.box.box-60.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Flights
      =# %a.ico-plus{:href => "#new-manifest", :rel => "facebox", :style => "margin-left: 5px"}

    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %td{:style => "width: 15px"} 
            %th Name
            %td.tc Plane
            %td.tc Jumpers
            %td.tc Weight (lbs.)
            %td.tc Estimated Takeoff
        %tbody.expander
          -Flight.all.find_all{|f| f.status != "landed" && f.status != "cancelled"}.each_with_index do |flight, i|
            - plane = Aircraft.get(flight.aircraft_id)
            %tr.manifest.title-row{:class => (i == 0 ? "first" : "")}
              %td.info.arrow
                &#9658;
              %td
                %a{:href => "#", :style => "font-size: 125%"}= (plane ? plane.flight_prefix : "AA") + ("%03.0f" % flight.number)
              %td.tc= plane.name if plane
              %td.tc
                -flight.jumper_ids ||= [] #TODO require array from the start
                -cleared_jumpers = flight.jumper_ids.length
                -fail_jumpers = rand(2)
                %a.stat.green.flat-right{:href => "#", :style => (cleared_jumpers > 0 ? "" : "visibility: hidden")}= cleared_jumpers
                %a.stat.red.merge-left.vtip{:href => "#", :title => "Kent McCullough's Rig expired on 7/18/10", :style => (fail_jumpers > 0 ? "" : "visibility: hidden")}= fail_jumpers
              %td.tc= rand(3000)
              %td.tc #{5-i}:#{rand(60)}PM
            %tr.expander-data{:style => "background: #F5F5F5;"}
              %td.tc{:colspan => 6, :style => "border-bottom: 1px solid #BBB; padding: 0"}
                %table.manifest{:style => "padding-left: 25px"}
                  %thead
                    %tr
                      %th Name
                      %th.tc{:style => "width: 100px"} Type
                      %th.tc{:style => "width: 100px"} Jump Plan
                  %tbody{:title => flight.id}
                    -flight.jumper_ids.map{|j_id| Jumper.get(j_id)}.each do |jumper|
                      %tr{:style => "cursor: auto;"}
                        %td= jumper.name
                        %td.tc= jumper.type
                        %td.tc
                          %select
                            %option Tandem
                            %option AFF
                    -if flight.jumper_ids.empty?
                      %tr{:style => "cursor: auto;"}
                        %td.tc{:colspan => 3}
                          .placeholder Drag Jumpers Here
.box.box-40.altbox
  .boxin
    .header
      %h3 Students
      %input.search{:type => "text", :size => "25", :style => "margin-left: 110px", :name => "jumpersearch", :placeholder => "Filter members..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td{:style => "width: 80px"} Name
            %td.tc{:style => "width: 60px"} Type
        %tbody
          -Jumper.all.each_with_index do |jumper, i|
            %tr.member{:style => "width: 365px; cursor: move;"}
              %td.jumper-id{:style => 'display: none'}= jumper.id
              
              %td.tc{:style => "width: 8px"}
                -if jumper.available
                  %img{:src => "/css/img/available.png"}
                -else
                  %img{:src => "/css/img/unavailable.png"}
              %td.name{:style => "width: 80px"}= jumper.name
              %td.type.tc{:style => "width: 60px"}= jumper.type.to_s
.box.box-40.altbox{:style => "float: right"}
  .boxin
    .header
      %h3 Members
      %input.search{:type => "text", :size => "25", :style => "margin-left: 110px", :name => "jumpersearch", :placeholder => "Filter members..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td{:style => "width: 80px"} Name
            %td.tc{:style => "width: 60px"} Type
        %tbody
          -Jumper.all.each_with_index do |jumper, i|
            %tr.member{:style => "width: 365px; cursor: move;"}
              %td.jumper-id{:style => 'display: none'}= jumper.id
              
              %td.tc{:style => "width: 8px"}
                -if jumper.available
                  %img{:src => "/css/img/available.png"}
                -else
                  %img{:src => "/css/img/unavailable.png"}
              %td.name{:style => "width: 80px"}= jumper.name
              %td.type.tc{:style => "width: 60px"}= jumper.type.to_s
:javascript
  $(document).ready(function(){
    $("tr.expander-data").hide();
    $('tbody.expander tr.title-row').click(function(){
      var nextRow = $(this).next();
      var arrow = $(this).find(".arrow");
      if (nextRow.is(':visible')){
        arrow.html("&#9658;")
        nextRow.fadeOut("fast");
      }else{
        arrow.html("&#9660;")
        nextRow.fadeIn("fast");
      }
      return false;
    });
    $('a[rel*=facebox]').facebox();
    $(".student, .member").draggable({
      stop: function(event, ui) {
        var tr = $(event.target).closest('tr');
      },
      helper: function(event){
        var helperdiv = $('<div class="drag-jumper" style="cursor: move">' + $(this).children().filter('.name').html() + '</div>')
        return helperdiv
        .find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
      },
      cursor: 'move',
      cursorAt: {left:75,top:20}
    });
    
    $(".manifest").droppable({
      drop: function(event, ui) {
        var dropTo = this
        if ($(this).hasClass("title-row")) {
          dropTo = $(this).next().find("table tbody");
        } else{
          dropTo = $(this).find("tbody");
        }
        var flightID = $(dropTo).attr("title");
        
        var jumperID =  ui.draggable.children().filter('.jumper-id').text();
        $.post(('/ajax/add-jumper-to-flight/?jumper='+jumperID+"&flight="+flightID), function(data) {
          
        });
        $(dropTo).find(".placeholder").parent().parent().remove();
        var name = "<td class='first'>" + ui.draggable.children().filter('.name').text() + "</td>";
        var type = "<td class='tc'>" + ui.draggable.children().filter('.type').text() + "</td>";
        var options = "<td class='tc'><select><option>Tandem</option><option>AFF</option></td>";
        $("<tr></tr>").html(name + type + options).appendTo(dropTo)
      },
      hoverClass: 'drop-hover'
    });
    
  });
  function newFlight(aircraft_id){
    $.post(('/ajax/new-flight?aircraft='+aircraft_id), function(data) {
      $('#manifest').html(data);
    });
    return false;
  }
