.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Available Aircraft
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td Name
            %td Flight Prefix
            %td.tc Type
            %td.tc{:style => "width: 60px"} Capacity
            %td.tc{:style => "width: 80px"} Cycle Minutes
            %td.tc{:style => "width: 100px"} Next Departure
            %td.tc{:style => "width: 100px"} Remaining Flights
        %tbody.striped
          -Aircraft.all.find_all{|a| a.available}.each_with_index do |aircraft, i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                %a.ico-plus.vtip{:href => "#newflight", :onclick => "newFlight('#{aircraft.id}')", :title => "New flight with this aircraft", :style => "margin: 0 -5px"} &nbsp;
              %td
                %a{:href => "#"}= aircraft.name
              %td
                %a{:href => "#"}= aircraft.flight_prefix
              %td.tc= aircraft.type
              %td.tc= aircraft.capacity
              %td.tc= aircraft.cycle_minutes
              
              %td.tc July 21st
              %td.tc= rand(42)**2
        
      
.box.box-60.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Flights
      =# %a.ico-plus{:href => "#new-manifest", :rel => "facebox", :style => "margin-left: 5px"}

    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %td{:style => "width: 15px"} 
            %th Name
            %td.tc Plane
            %td.tc Jump Date
            %td.tc Jumpers
            %td.tc Weight (lbs.)
        %tbody.expander
          -5.times do |i|
            %tr.manifest.title-row{:class => (i == 0 ? "first" : "")}
              %td &#9658;
              %td
                %a{:href => "#"} Flight #{123-i}
              %td.tc Cessna 182
              %td.tc 7/24/2011
              %td.tc
                -cleared_jumpers = rand(10)
                -fail_jumpers = rand(2)
                %a.stat.green.flat-right{:href => "#", :style => (cleared_jumpers > 0 ? "" : "visibility: hidden")}= cleared_jumpers
                %a.stat.red.merge-left.vtip{:href => "#", :title => "Kent McCullough's Rig expired on 7/18/10", :style => (fail_jumpers > 0 ? "" : "visibility: hidden")}= fail_jumpers
              %td.tc= rand(3000)
            %tr{:style => "background: #F3F3F3;"}
              %td.tc{:colspan => 6, :style => "border-bottom: 1px solid #BBB; padding: 0"}
                %ul.manifest{:style => "margin: 0; padding: 10px; min-height: 30px;"}
                  %li.placeholder{:style => "margin: 20px"} Drag Jumpers Here
              
.box.box-40.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Students
      %input.search{:type => "text", :size => "25", :style => "margin-left: 115px", :name => "jumpersearch", :placeholder => "Filter students..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td Name
            %td.tc{:style => "width: 60px"} Type
        %tbody
          -Jumper.all.each_with_index do |jumper, i|
            %tr.student{:style => "width: 365px; cursor: move;", :id => jumper.id}
              %td{:style => "width: 8px"}
                -if jumper.available
                  %img{:src => "/css/img/available.png"}
                -else
                  %img{:src => "/css/img/unavailable.png"}
              %td.name{:style => "width: 80px"}= jumper.name
              %td.tc{:style => "width: 60px"}= jumper.type.to_s
.box.box-40.altbox{:style => "float: right"}
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Members
      %input.search{:type => "text", :size => "25", :style => "margin-left: 110px", :name => "jumpersearch", :placeholder => "Filter members..."}
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px"} &nbsp;
            %td{:style => "width: 80px"} Name
            %td.tc{:style => "width: 60px"} Type
        %tbody
          -Jumper.all.each_with_index do |jumper, i|
            %tr.member{:style => "width: 365px; cursor: move;"}
              %td{:style => "width: 8px"}
                -if jumper.available
                  %img{:src => "/css/img/available.png"}
                -else
                  %img{:src => "/css/img/unavailable.png"}
              %td.name{:style => "width: 80px"}= jumper.name
              %td.tc{:style => "width: 60px"}= jumper.type.to_s
:javascript
  $(document).ready(function(){
    $('a[rel*=facebox]').facebox();
    $(".student, .member").draggable({
      stop: function(event, ui) {
        var tr = $(event.target).closest('tr');
      },
      helper: function(event){
        var helperdiv = $('<div class="drag-jumper" style="cursor: move">' + $(this).children().filter('.name').html() + '</div>')
        return helperdiv
        .find('table').append($(event.target).closest('tr').clone()).end().appendTo('body');
      },
      cursor: 'move',
      cursorAt: {left:75,top:20}
    });
    
    $(".manifest").droppable({
      drop: function(event, ui) {
        var dropTo = this
        if ($(this).hasClass("title-row")) {
          dropTo = $(this).next();
        }
        $(dropTo).find(".placeholder").remove();
        $("<li></li>").text(ui.draggable.children().filter('.name').text()).appendTo(dropTo)
      },
      hoverClass: 'drop-hover'
    });
    
  });
  function newFlight(aircraft_id){
    alert("not implemented yet.");
  }
