.box.box-40.altbox
  .boxin
    .header
      %h3 Reservations Made Today
    .content
      %table{:cellspacing => "0"}
        %thead
          %tr
            %th Group Name
            %td.tc Date
            %td.tc # Jumpers
            %td.tc View/Edit
        %tbody
          -10.times do |i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th
                %a{:href => "#"} Kent McCullough
              %td.tc July #{11 - i/3}th
              %td.tr
                .stat.green{:href => "#", :style => "margin-right: 20px"}= i*16
              %td.tc
                %a.awesome.yellow.medium{:style => 'padding: 2px 5px', :href => "/ajax/edit-schedule?id=HELLO!", :rel => 'jumpersfacebox'}
                  %img{:src => "/css/img/led-ico/pencil.png", :width => "16", :height => "16", :style => 'vertical-align: text-top'}
.box.box-60
  .boxin{:style => "border: #AAA"}
    .content
      %table.calendar{:cellspacing => "0"}
        %thead
          %tr
            %th.tc.month{:colspan => "7"}
              .spacer{:style => "display: inline; margin-left: 150px"}
              %a{:href => "#", :title => "Go to June 2011"}
                %img{:alt => "Go to October 2009", :src => "css/img/cal-left.png", :style => "height: 18px; width: 18px"}
              = Time.now.strftime("%B %Y")
              %a{:href => "#", :title => "Go to August 2011"}
                %img{:alt => "Go to January 2010", :src => "css/img/cal-right.png", :style => "height: 18px; width: 18px"}
              .legend{:style => "display: inline; margin-left: 30px"}
                .stat.outline Sport
                .stat.green.flat-right.flat-right Tandem 
                .stat.purple.merge-left AFF
          %tr
            %th.tc Monday
            %th.tc Tuesday
            %th.tc Wednesday
            %th.tc Thursday
            %th.tc Friday
            %th.tc Saturday
            %th.tc Sunday
        %tbody
          %tr.first
            %td.inactive
              %strong 28
            / inactive days (month past or month after)
            %td.inactive
              %strong 29
              .items
                .stat.outline= rand(4) + 20
                %br
                .stat.green.flat-right= rand(8) + 20
                .stat.purple.merge-left= rand(25)+20
            %td.inactive
              %strong 30
              .items
                .stat.outline= rand(4) + 2
                %br
                .stat.green.flat-right= rand(8) + 2
                .stat.purple.merge-left= rand(25)
            %td
              %strong 1
            %td
              %strong 2
              .items
                .stat.outline= rand(4) + 2
                %br
                .stat.green.flat-right= rand(8) + 2
                .stat.purple.merge-left= rand(25)
            %td
              %strong 3
            %td
              %strong 4
              .items
                .stat.outline= rand(4) + 2
                %br
                .stat.green.flat-right= rand(8) + 2
                .stat.purple.merge-left= rand(25)
          %tr
            %td
              %strong 5
            %td
              %strong 6
              .items
                .stat.outline= rand(4) + 2
                %br
                .stat.green.flat-right= rand(8) + 2
                .stat.purple.merge-left= rand(25)
            %td
              %strong 7
            %td
              %strong 8
            %td
              %strong 9
            %td
              %strong 10
            %td
              %strong 11
          %tr
            %td
              %strong 12
            %td
              %strong 13
            %td
              %strong 14
            %td
              %strong 15
            %td
              %strong 16
            %td
              %strong 17
            %td
              %strong 18
          %tr
            %td
              %strong 19
            %td
              %strong 20
            %td
              %strong 21
            %td
              %strong 22
            %td
              %strong 23
            %td
              %strong 24
            %td
              %strong 25
          %tr
            %td
              %strong 26
            %td
              %strong 27
            %td
              %strong 28
            %td
              %strong 29
            %td
              %strong 30
            %td
              %strong 31
            %td.inactive
              %strong 1