#new-staff{:style => "display: none; width: 600px; text-align: center"}
  %b{:style => 'font-size: 24px; text-align: center;background: #eee; display: block; margin: -10px -10px 0px -10px; padding: 5px'} New staff
  %form.fields.newstaffform{:style => "margin-right: 150px; margin-left: 50px;text-align: right; font-size: 16px"}
    %p
      -existing_nonstaff = Jumper.all.find_all{|j| !j.is_staff}
      -if existing_nonstaff.empty?
        %span{:style => "font-size: 80%;color: #888"} (All existing jumpers are already staff)
      -else
        %label{:style => "font-weight: bold"} Existing Jumper
        %select.existing-dropdown{:style => "width: 177px; margin-left: 20px", :name => "id"}
          %option{:value => ""}
          -existing_nonstaff.each do |jumper|
            %option{:value => jumper.id}= jumper.name
      :javascript
        $(document).ready(function(){
          $('.existing-dropdown').change(function(){
            if ($(this).val() != ""){
              if ($("fieldset.new-jumper").is(":visible")) $("fieldset.new-jumper").hide("blind", 250);
            } else {
              $("fieldset.new-jumper").show("blind", 250);
            }
          });
        });
    %fieldset.new-jumper{:style => "margin: 10px -5px;"}
      %p.bold
        %label Name
        %input{:type => "text", :name => "first_name", :style => "width: 80px; margin-left: 20px"}
        %input{:type => "text", :name => "last_name", :style => "width: 81px; margin-left: 0px"}
      %p
        %label Nickname
        %input{:type => "text", :name => "nickname", :style => "width: 171px; margin-left: 20px"}
      %br
      %p
        %label Country
        %select{:style => "width: 177px; margin-left: 20px", :name => "state"}
          %option{:value => "USA"} USA
          %option{:value => "Canada"} Canada
          %option{:value => "Mexico"} Mexico
          %option{:value => "England"} England
          %option{:value => "Germany"} Germany

      %p
        %label Address
        %input{:type => "text",:name => "address", :style => "width: 171px; margin-left: 20px"}
      %p
        %label City
        %input{:type => "text", :name => "city", :style => "width: 171px;margin-left: 20px"}
      %p
        %label State
        %select{:style => "width: 177px; margin-left: 20px", :name => "state"}
          %option{:value => "AL"} AL - Alabama
          %option{:value => "AK"} AK - Alaska
          %option{:value => "AZ"} AZ - Arizona
          %option{:value => "AR"} AR - Arkansas
          %option{:value => "CA"} CA - California
          %option{:value => "CO"} CO - Colorado
          %option{:value => "CT"} CT - Connecticut
          %option{:value => "DE"} DE - Delaware
          %option{:value => "FL"} FL - Florida
          %option{:value => "GA"} GA - Georgia
          %option{:value => "HI"} HI - Hawaii
          %option{:value => "ID"} ID - Idaho
          %option{:value => "IL"} IL - Illinois
          %option{:value => "IN"} IN - Indiana
          %option{:value => "IA"} IA - Iowa
          %option{:value => "KS"} KS - Kansas
          %option{:value => "KY"} KY - Kentucky
          %option{:value => "LA"} LA - Louisiana
          %option{:value => "ME"} ME - Maine
          %option{:value => "MD"} MD - Maryland
          %option{:value => "MA"} MA - Massachusetts
          %option{:value => "MI"} MI - Michigan
          %option{:value => "MN"} MN - Minnesota
          %option{:value => "MS"} MS - Mississippi
          %option{:value => "MO"} MO - Missouri
          %option{:value => "MT"} MT - Montana
          %option{:value => "NE"} NE - Nebraska
          %option{:value => "NV"} NV - Nevada
          %option{:value => "NH"} NH - New Hampshire
          %option{:value => "NJ"} NJ - New Jersey
          %option{:value => "NM"} NM - New Mexico
          %option{:value => "NY"} NY - New York
          %option{:value => "NC"} NC - North Carolina
          %option{:value => "ND"} ND - North Dakota
          %option{:value => "OH"} OH - Ohio
          %option{:value => "OK"} OK - Oklahoma
          %option{:value => "OR"} OR - Oregon
          %option{:value => "PA"} PA - Pennsylvania
          %option{:value => "RI"} RI - Rhode Island
          %option{:value => "SC"} SC - South Carolina
          %option{:value => "SD"} SD - South Dakota
          %option{:value => "TN"} TN - Tennessee
          %option{:value => "TX"} TX - Texas
          %option{:value => "UT"} UT - Utah
          %option{:value => "VT"} VT - Vermont
          %option{:value => "VA"} VA - Virginia
          %option{:value => "WA"} WA - Washington
          %option{:value => "WV"} WV - West Virginia
          %option{:value => "WI"} WI - Wisconsin
          %option{:value => "WY"} WY - Wyoming
          %option{:value => "ZZ"} Other
      %p
        %label ZIP Code
        %input{:type => "text", :name => "zip", :style => "width: 171px; margin-left: 20px"}
    %p
      %label{:style => "font-weight: bold"} Email Address
      %input{:type => "text", :name => "email", :style => "width: 171px; margin-left: 20px"}
    %br
    %p
      %input{:type => "checkbox", :style => "margin-right: 10px;", :name => "pilot", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 140px"} Pilot
    %p
      %input{:type => "checkbox", :style => "margin-right: 8px;", :name => "tandem_instructor", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 36px"} Tandem Instructor
    %p
      %input{:type => "checkbox", :style => "margin-right: 10px;", :name => "aff_instructor", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 64px"} AFF Instructor
    %p
      %input{:type => "checkbox", :style => "margin-right: 10px;", :name => "videographer", :checked => "checked"}
      %label{:style => "font-weight: bold; margin-right: 70px"} Videographer 
    %br
    %span.bold View 
    %span.bold{:style => "margin-left: 67px; margin-right: 33px"} Edit
    
    %p
      %label{:style => "font-weight: bold;"} Jumper Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 87px;", :name => "can_view_jumpers", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 40px;", :name => "can_edit_jumpers", :checked => "checked"}

    %p
      %label{:style => "font-weight: bold;"} Manifest Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 87px;", :name => "can_view_manifests", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 40px;", :name => "can_edit_manifests", :checked => "checked"}
    %p
      %label{:style => "font-weight: bold;"} Financial Data
      %input{:type => "checkbox", :style => "margin-left: 68px; margin-right: 87px;", :name => "can_view_finances", :checked => "checked"}
      %input{:type => "checkbox", :style => "margin-right: 40px;", :name => "can_edit_finances", :checked => "checked"}

    %br
    .left{:style => "display: inline; margin-right: 12px"}        
      %a.awesome.giant.green{:href => "#create-staff", :onClick => "createStaff(this);"} Create Staff
    .left{:style => "display: inline;margin-right: -13px"}
      %a.awesome.medium.gray{:href => "#", :onClick => "$.facebox.close()"} Cancel
.box.box-100.altbox
  / .altbox for alternative box's color
  .boxin
    .header
      %h3 Staff
      %a.plus{:href => "#new-staff", :rel => "stafffacebox", :style => "margin-left: 5px"} &nbsp;
      / Action button in the header of the box
      %input#staffsearch.search.firstfocus{:type => "text", :style => "float: right; margin-right: 20px;", :name => "staffsearch", :placeholder => "Filter Staff..."}
    .content
      %table#stafftable{:cellspacing => "0"}
        %thead
          %tr
            %th{:style => "width: 8px", :rowspan => 2} &nbsp;
            %td{:rowspan => 2} <br/><br/>Name 
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>Pilot
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/>Tandem Instructor
            %td.tc{:style => "width: 75px", :rowspan => 2} <br/><br/>Videographer
            %td.tc{:style => "width: 85px", :rowspan => 2} <br/><br/>AFF Instructor
            
            %td.tc{:style => "width: 50px", :rowspan => 2} <br/><br/>Balance 
            %td.tc.bold{:colspan => 2} Jumpers
            %td.tc.bold{:colspan => 2} Manifest
            %td.tc.bold{:colspan => 2} Finance
            
          %tr
            %td.tc{:style => "width: 25px; padding-left: 10px"} View
            %td.tc{:style => "width: 25px"} Edit
            %td.tc{:style => "width: 25px"} View
            %td.tc{:style => "width: 25px"} Edit
            
            %td.tc{:style => "width: 25px"} View
            %td.tc{:style => "width: 25px"} Edit
            
        %tbody.striped
          -Jumper.all.find_all{|j| j.is_staff}.each_with_index do |staff, i|
            %tr{:class => ( i == 0 ? "first" : "")}
              %th.tc
                %a.dotbutton{:class => "p-#{staff.id}-available #{staff.available ? "green" : "red"}", :href => "#", :onClick => "setAvailable('#{staff.id}', $(this)); return false;"}
              %td
                %a{:href => "#"}= staff.name
              %td.tc
                
                -if staff.pilot
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'pilot', $(this).attr('class'));return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'pilot', $(this).attr('class'));return false;"}
              %td.tc
                -if staff.tandem_instructor
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'tandem_instructor', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'tandem_instructor', $(this).attr('class')); return false;"}
              %td.tc
                -if staff.videographer
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'videographer', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'videographer', $(this).attr('class')); return false;"}
              %td.tc
                -if staff.aff_instructor
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'aff_instructor', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'aff_instructor', $(this).attr('class')); return false;"}
              %td.tr
                -balance = staff.balance || 0
                
                %a.stat.vtip{:href => "#", :style => 'display: block; width: 50px; padding: 0; padding-right: 5px; margin: 0;margin-bottom: -5px; float: right', :title => "This doesn't make a lot of sense here, but I want to break up the two banks of permissions", :class => (balance >= 0 ? "green" : "red")}= "%5.2f" % balance
              %td.tr
                -if staff.can_view_jumpers
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_view_jumpers', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_view_jumpers', $(this).attr('class')); return false;"}
              %td.tl
                -if staff.can_edit_jumpers
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_edit_jumpers', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_edit_jumpers', $(this).attr('class')); return false;"}
              %td.tr
                -if staff.can_view_manifests
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_view_manifests', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_view_manifests', $(this).attr('class')); return false;"}
              %td.tl
                -if staff.can_edit_manifests
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_edit_manifests', $(this).attr('class')', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_edit_manifests', $(this).attr('class')); return false;"}
              %td.tr
                -if staff.can_view_finances
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_view_finances', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_view_finances', $(this).attr('class')); return false;"}
              %td.tl
                -if staff.can_edit_finances
                  %a.black-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_edit_finances', $(this).attr('class')); return false;"}
                -else
                  %a.no-dot{:href => "#", :onclick => "editPermission('#{staff.id}', 'can_edit_finances', $(this).attr('class')); return false;"}


:javascript
  $(document).ready(function(){
    vtip();
    $('a[rel*=stafffacebox]').facebox();
    $('tbody.striped tr:even').addClass('even');
    $(".black-dot, .no-dot").click(function(){
      if ($(this).hasClass("no-dot")){
        $(this).removeClass("no-dot").addClass("black-dot");
      } else {
        $(this).removeClass("black-dot").addClass("no-dot");
      }
    });
    var stafftable = $('#stafftable');
    $("#staffsearch").keyup(function() {
      $.uiTableFilter( stafftable, this.value );
    });
  });
  function editPermission(staffID, attribute, dotclass){
    //dotclass == *current* dot state
    if (dotclass == "no-dot"){
      var value = "true";
    }else{
      var value = "false";
    }
    $.post('/ajax/staff/permission?id='+staffID+"&attribute="+attribute+"&value="+value);
  }
  function createStaff(button){
    var form_data = $('.newstaffform:last').serialize();  
    $.post(('/ajax/staff?'+form_data), function(data) {
      $.facebox.close();
      $('#staff').html(data);
    });
    return false;
  }
